# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
.vscode
coverage.xml
.ruff_cache


# Home Assistant configuration
config/*
!config/configuration.yaml
.github/copilot-instructions.md
config/configuration.yaml
icons/power_load_balancer_full.png
power_load_balancer.code-workspace
config/configuration.yaml
custom_components/hacs
custom_components/climate_template
.venv/

